.fondomovil{
    background-image: url(img/foto5.jpg);
    background-attachment: fixed;
    height: 400px;
}

.con{
    font-family: "Helvetica Neue";
    font-size: 18px;
    background-color: moccasin;
}

.navbar-brand{
    font-family: 'Times New Roman';
    font-size: 25px;
}

.footer{
    background-color:rgba(235, 203, 164, 0.795);
    padding-top: 8px;
    font-size: 16px;
}

.icono{
    font-size: 30px;
}

.encabezado{
    font-size: 25px;
}